html {
    background-color: #597A99;
}
/* Navbar   */

.navbar {
    background-color: #5993c6;
}


/* General  */

a:link {
    color : black;
}

a:hover {
    color: #FFFFFF;
}

.forum-link:hover {
    background-color : #204275 !important;
    color : #FFFFFF !important;
}

/*Tabs*/
.caret {
    color : #FFFFFF;
}



/*     Page themes   */


img {
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

h3 {
    text-align: center;
    margin-top : 8px;
}


.select {
    padding : 30px;
}

.element-item {
    border-radius: 5px;
    box-shadow: 1px 1px 12px #555;
    /*background : #f4f4f7;*/
    position : relative;
    float: left;
    width: 250px;
    height: 250px;
    margin : 5px;
    /*padding : 5px;*/
}

.element-item-image {
    background-size: cover;
    height: 160px;
}

.all {
    border : 2px solid #000000;
}

.healthy {
    border : 2px solid #204275;
}

.title-healthy {
    border-bottom : 1px solid #204275;
}

.medications {
    border : 2px solid #4C8E3C;
}

.title-medications {
    border-bottom : 1px solid #4C8E3C;
}

.pregnancy {
    border : 2px solid #E03B7B;
}

.title-pregnancy {
    border-bottom : 1px solid #E03B7B;
}

.baby {
    border : 2px solid #DB3373;
}

.title-baby {
    border-bottom : 2px solid #DB3373;
}

.beauty {
    border : 2px solid #88335E;
}

.title-beauty {
    border-bottom : 2px solid #88335E;
}

.fitness {
    border : 2px solid #EDA924;
}

.title-fitness {
    border-bottom : 2px solid #EDA924;
}

.nutrition {
    border : 2px solid #329A48;
}

.title-nutrition {
    border-bottom : 2px solid #329A48;
}

.recipes {
    border : 2px solid #83B83D;
}

.title-recipes {
    border-bottom : 2px solid #83B83D;
}

.family {
    border : 2px solid #4EB1CA;
}

.title-family {
    border-bottom : 2px solid #4EB1CA;
}

.animal {
    border : 2px solid #366E82;
}

.title-animal {
    border-bottom : 2px solid #366E82;
}

.psychology {
    border : 2px solid #913F81;
}

.title-psychology {
    border-bottom : 2px solid #913F81;
}

.sexuality {
    border : 2px solid #CD264D;
}

.title-sexuality {
    border-bottom : 2px solid #CD264D;
}

/*   Page themes */







/* RAJOUTé BY THOMAS */ 


/* Carousel */

/*#myCarousel {
    width: 600px;
    height: 350px;
}*/
div .item a {
    color: white;
}

/* Photo experts */

.photo-experts {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 42%;
    margin-top: 10px;
}

h4, h5  {
    text-align: center;
}

#experts {
    text-align: center;
    text-transform: uppercase;
}
#link-experts {
    font-size: 14px;
    float: right;
    position: relative;
    bottom: 35px;
    text-decoration: none;
}
#link-experts a {
    color: black;
}
/*Footer*/

.footer {
    background-color: #597A99;
    position: relative;
    margin-bottom: 0px;
    clear:both;
    padding-top:20px;
    padding-bottom: 5px;
    color: white;
    margin-top: 20px;
} 
.footer-text {
    color: white;
    text-align: center;
}
.fa-facebook {
    color: white; /*changer la couleur*/
}
#fa-facebookID {
    color: #3B5998;
}
.fa-twitter {
    color: white; /*changer la couleur*/
}
#fa-twitterID {
    color: #5ABBE7;
}
.fa-google-plus {
    color: white;
}
#fa-googleID {
    color: #E16F61;
}
.fa-youtube {
    color: white;
}
#fa-youtubeID {
    color: #F54C56;
}
.fa-pinterest {
    color: white;
}
#fa-pinterestID {
    color: #FA2E2E;
}

span.fa-stack:hover {
    opacity: .8;
}

ul.end {
    list-style: none;
    /*border: 1px black solid;*/
}
ul.end > li {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
/*    padding-right: 10px;
*/}
ul.ending > li{
    padding-top: 10px;
    padding-right: 15px;
}
ul.ending {
    /*border: 1px black solid;*/
}

